@import "tailwindcss";

@font-face {
  font-family: "SF-Pro";
  src: url(./fonts/SF-Pro.ttf);
}

@theme {
  --nero-80: rgba(255, 255, 255, 0.8);
  --woodsmoke-80: rgba(22, 22, 23, 0.8);
  --green: #1bff07;
}

/* index.css */

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--nero-80);
  text-decoration: none;
}
a:hover {
  color: aqua;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  font-family: "SF-Pro";
  background-color: #000;
}
